.stopwatch{
    background-color: skyblue;
    height: 350px;
}
.heading{
    height: 61px;
    background-color: #fff;
    width: 500px;
    margin: 0px auto;
    color: #0fa4e1;
}
.timer{
    height: 160px;
    background-color: #fff;
    width: 500px;
    margin: 50px 0px 20px 388px;
    color: #0fa4e1;
}
.start{
    width: 100px;
    height: 40px;
    background-color: steelblue;
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.stop{
    width: 100px;
    height: 40px;
    background-color: tomato;
    margin-right: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.hr,.mts,.sec{
    background-color: #17ade7;
    color: #fff;
    margin-top: 21px;
    width: 85px;
    height: 30px;
}
.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}